# Ignora carpetas del sistema y archivos temporales
Configuración local/
Cookies/
Datos de programa/
Documents/
Downloads/
Favorites/
Games/
IntelGraphicsProfiles/
Links/
Music/
Videos/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
/build
.gitignore
biblioteca.pro
biblioteca.pro.user
biblioteca.pro.user.cb8e28f