# Ignora carpetas del sistema y archivos temporales
Configuración local/
Cookies/
Datos de programa/
Documents/
Downloads/
Favorites/
Games/
IntelGraphicsProfiles/
Links/
Music/
Videos/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini

# Ignora la carpeta generada en la compilación
build/*

# Ignorar archivos de configuración de Qt
*.pro.user
*.pro.user.*
*.pro
*.qmake.stash
.qmake.*
*.qmlproject.user