/* --------- PALETA DE COLORES A UTILIZAR ----------
/* 	#00FF75 -> VERDE
	#000E28 -> AZUL MARINO
	#00B2FF -> CELESTE
	#111111 -> NEGRO MATE
	#D900B3 -> FUCSIA
*/
/* --------- FUENTES A UTILIZAR ----------
/*	
	font-family: 'Montserrat', sans-serif;
*/
QMainWindow {
    	background-color: transparent;  
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
}

/* Estilo para QWidget (puede aplicarse a cualquier ventana secundaria o contenedor) */
QWidget {
    	/* background-color: #111111;   Fondo Negro Mate para los widgets */
    	border-radius: 5px;  
	font-family: 'Montserrat', sans-serif;
}

/* Estilo para los QPushButton (botones) */
QPushButton {
    	font-size: 14px;
    	color: #111111;  /* Texto Negro Mate */
    	background-color: #00FF75;  /* Color verde para los botones */
    	border: none;
   	border-radius: 5px; 
   	margin: 2px;
    	padding: 3px 3px; /* Padding para agrandar el bot칩n */
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-style: italic;
}

QPushButton:hover {
    	background-color: #00B2FF; /* Un verde m치s oscuro cuando el mouse est치 sobre el bot칩n */
}

QRadioButton {
    color: white;
	font-family: 'Montserrat', sans-serif;
}

QSpinBox {
	font-family: 'Montserrat', sans-serif;
    	color: black;
    	font-size: 14px;
    	padding: 10px;
   	background-color: #f2f2f2;  /* Fondo gris claro */
    	border: 1px solid #ccc;  /* Borde gris */
    	border-radius: 5px;  /* Bordes redondeados */
}

QComboBox {
	font-family: 'Montserrat', sans-serif;
    	color: black;
    	font-size: 14px;
    	padding: 10px;
    	background-color: #f2f2f2;  /* Fondo gris claro */
    	border: 1px solid #ccc;  /* Borde gris */
    	border-radius: 2px;  /* Bordes redondeados */
    transition: border-color 0.3s;
}

QComboBox QAbstractItemView {
	color:yellow;
	background-color: black;
}

QLineEdit {
    	color: black;
    	padding: 3px;
    	background-color: #f2f2f2; 
    	border: 1px solid #ccc; 
   	border-radius: 5px;  
}

QLineEdit:focus {
    border: 3px solid #00B2FF;
    background-color: white; 
}

QTableWidget {
    font-size: 14px;
    border: none;
    border-radius: 2px;
    background-color: #ffffff; 
    selection-background-color: #4CAF50;  
    gridline-color: #ddd;  
	
}

QHeaderView {
    background-color: #111111; 
    border: none; 
}

QHeaderView::section { 
    	height: 25px;
    	background-color: #00B2FF;		/* Color Celeste */
    	color: #111111;
    	font-weight: bold;
	font-style: italic;
    	font-family: 'Montserrat', sans-serif;
	border-radius: 5px;
}

QTableWidget::item {
    	width: 150px;
    	color: black;
    	padding: 2px;
    	border: 1px solid #111111;
}

QTableWidget::item:selected {
    	background-color: #c846b6; /* Color de verde  */
	opacity: 0.5;
}

QScrollBar:vertical {
    	border: none;
    	background: #f0f0f0; 
    	width: 10px; 
    	margin: 0px 0px 0px 0px;
}

 QScrollBar::horizontal {
	border: none;
    	background: #f0f0f0; 
    	height: 10px; 
   	margin: 0px 0px 0px 0px;
}

QScrollBar::handle:vertical {
    	background: #D900B3; 
    	min-height: 20px; 
    	border-radius: 5px; 
}

QScrollBar::handle:horizontal {
	background: #D900B3; 
    	min-width: 20px; 
    	border-radius: 5px; 
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    	background: none; 
    	height: 0px;
}

QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal  {
	background: none; 
    	width: 0px;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    	background: none; 
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
	background: none;
}

QLabel {
    font-size: 12px;
    color: #fff; 
}

QMessageBox {
	color: white;
	font-family: 'Montserrat';
	font-size: 14px;
	font-height: bold;
}

